.hero_container-img {
  background-image: linear-gradient(to left, rgba(141, 141, 142, 0.52), rgba(7, 0, 0, 0.73)), url(../img/home-3wAI.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
}

.hero_container-left {
  text-align: center;
  padding-top: 100px;
}

@media only screen and (min-width: 992px) {
  .hero_container-left {
    text-align: left;
  }
}
.hero_text {
  color: #ffffff;
  padding: 15px;
  line-height: 2.25rem;
  font-weight: 400;
}

.hero_1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.hero_2 {
  font-size: 1.25rem;
}

.btn-hero {
  color: #ffffff;
  background-color: #67809f;
  border-color: #67809f;
  margin: 80px 20px;
  font-weight: 900;
}

.btn-hero:hover {
  color: #ffffff;
  border-color: #526781;
  background-color: #526781;
}

.bi-arrow-right {
  margin-left: 12px;
  margin-right: -4px;
}

.hero_container-center img {
  width: 100%;
}

/* Base -------------------------------*/
.newsletter {
  background-color: #d3d4d4;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0, 5rem;
  line-height: inherit;
  font-size: 32px;
  font-weight: 900;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.asterisk {
  color: #d64541;
}

form {
  font-family: Poppins, sans-serif;
}

input[type=text], input[type=submit] {
  width: 80%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
  margin-bottom: -45px;
  height: 30px;
  width: 30px;
  border: 3px solid #333645;
}

.form-check-label {
  line-height: 32px;
  cursor: pointer;
  margin-left: 30px;
}

.form-check-input:checked {
  background-color: #333645;
  border-color: #333645;
}

label {
  font-weight: bold;
}

label a {
  text-decoration: underline;
}

.btn-primary {
  color: #ffffff;
  background-color: #333645;
  border-color: #333645;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(49, 40, 40);
  border-color: rgb(49, 40, 40);
}

.badges ul {
  display: none;
}

@media only screen and (min-width: 768px) {
  .badges ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 20px 40px;
  }
  .badges ul li {
    padding: 20px;
  }
  .badges ul li a img {
    width: 100%;
  }
  .badges ul li .coloured {
    display: none;
  }
  .badges ul li:hover .grey {
    display: none;
  }
  .badges ul li:hover .coloured {
    display: inline;
  }
}
.btn {
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  white-space: normal;
}

* {
  margin: 0px;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1200;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  text-align: center;
  background-color: #ffffff;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.outer {
  max-width: none;
  margin: auto;
}

.inner {
  margin: 15px 0;
  width: 100%;
  max-width: none;
  --bs-gutter-x: 0;
}

p {
  margin: 0px;
}

.search_container2 {
  width: 100%;
}

.form2 {
  display: flex;
  position: relative;
  margin: 10px 5px 0;
}

input[name=search2] {
  width: 100%;
  background-color: #E5E5E5;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  box-shadow: inset 0 0.875px rgba(0, 0, 0, 0.1);
  height: 47px;
  border-radius: 3px 0 0 3px;
  padding-left: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  outline: 0;
}

button[name=search2] {
  max-width: 46px;
  background-color: #E5E5E5;
  color: #333645;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  box-shadow: inset 0 0.875px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  height: 47px;
  position: absolute;
  right: 0;
}

.search_container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container_top {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .container_top .search_container2 {
    display: none;
  }
  .container_top .search_container {
    display: flex;
    width: 100%;
  }
  .container_top .search_container .form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .container_top .search_container .form .search_form {
    background-color: #E5E5E5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    box-shadow: inset 0 0.875px rgba(0, 0, 0, 0.1);
    height: 56px;
    border-radius: 3px 0 0 3px;
    font-size: 0.875rem;
    position: relative;
    outline: 0;
  }
  .container_top .search_container .form .search_button {
    position: absolute;
    width: 63px;
    height: 56px;
    font-size: 24px;
    color: #ffffff;
    background-color: #999aa2;
    border: 0;
    border-radius: 0 3px 3px 0;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .container_top .search_container .form .search_form {
    display: none;
  }
  .container_top .search_container .form .search_button {
    position: relative;
    border-radius: 3px;
  }
  .container_top .search_container .form .search_button:hover {
    background-color: #84858f;
  }
}
@media only screen and (min-width: 1200px) {
  .container_top .search_container .form .search_form {
    display: revert !important;
    width: 90%;
  }
  .container_top .search_container .form .search_button {
    position: absolute;
    border-radius: 0 3px 3px 0;
    text-align: center;
    margin: 0px;
  }
}
.navbar_logo {
  max-width: 402px;
  width: 100%;
}

.container_top, .container_bottom, .container-phone {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.topnav .right-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.container_button {
  display: none;
}

@media only screen and (min-width: 992px) {
  .container_button {
    display: flex;
  }
}

.btn_1 {
  display: inline;
  width: 141px;
  height: 56px;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #4183d7;
  box-shadow: none;
  border-color: #4183d7;
  text-transform: uppercase;
  border: 0;
}

.btn_1:hover {
  background-color: #286abd;
}

.btn_2 {
  display: inline;
  height: 56px;
  width: 149px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #999aa2;
  box-shadow: none;
  margin-left: 20px;
  text-transform: uppercase;
  border: 0;
}

.btn_2:hover {
  background-color: #84858f;
}

.menu_btn {
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #333645;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  .menu_btn {
    margin-left: 20px;
  }
}

.menu_btn:hover {
  background-color: #22242e;
}

.hamburger .title {
  display: block;
  font-size: 0.75rem;
  line-height: 1;
  position: relative;
  margin-bottom: 0;
}

.container_phone {
  align-items: center;
  padding-bottom: 3px;
  margin: 15px;
}
.container_phone .fa-phone-volume {
  color: #333645;
  font-size: 30px;
}
.container_phone .fa-phone-volume:hover {
  color: #22242e;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .container_phone {
    display: none;
  }
}

.fa-solid, .fa-regular, .fas {
  padding-right: 8px;
}

@media only screen and (min-width: 992px) {
  header #main_nav {
    position: relative;
    background-color: #333645;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 100%;
  }
  header nav {
    display: flex !important;
  }
}

.s {
  font-size: 10px;
  padding-bottom: 1px;
}

.drop-btn {
  position: relative;
  display: block;
  padding: 19px 0 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

.drop-btn .icon {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.software-btn .icon {
  color: #67809f;
}

.software-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #67809f;
}

.software-btn:hover {
  color: #ffffff;
  background-color: #67809f;
}

.software-btn:hover svg, .software:hover .btn {
  color: #ffffff;
}

.support-btn .icon {
  color: #4183d7;
}

.support-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #4183d7;
}

.support-btn:hover {
  color: #ffffff;
  background-color: #4183d7;
}

.support-btn:hover svg, .support:hover .btn {
  color: #ffffff;
}

.marketing-btn .icon {
  color: #2ecc71;
}

.marketing-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #2ecc71;
}

.marketing-btn:hover {
  color: #ffffff;
  background-color: #2ecc71;
}

.marketing-btn:hover svg, .marketing:hover .btn {
  color: #ffffff;
}

.telecoms-btn .icon {
  color: #d64541;
}

.telecoms-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #d64541;
}

.telecoms-btn:hover {
  color: #ffffff;
  background-color: #d64541;
}

.telecoms-btn:hover svg, .telecoms:hover .btn {
  color: #ffffff;
}

.design-btn .icon {
  color: #926fb1;
}

.design-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #926fb1;
}

.design-btn:hover {
  color: #ffffff;
  background-color: #926fb1;
}

.design-btn:hover svg, .design:hover .btn {
  color: #ffffff;
}

.security-btn .icon {
  color: #f62459;
}

.security-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #f62459;
}

.security-btn:hover {
  color: #ffffff;
  background-color: #f62459;
}

.security-btn:hover svg, .security:hover .btn {
  color: #ffffff;
}

.training-btn .icon {
  color: #d64541;
}

.training-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #d64541;
}

.training-btn:hover {
  color: #ffffff;
  background-color: #d64541;
}

.training-btn:hover svg, .training:hover .btn {
  color: #ffffff;
}

.nav-item {
  border-left: 1px solid hsla(0deg, 0%, 100%, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-item:hover .drop-menu {
  display: flex;
}

.drop-menu {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  justify-content: flex-start;
  font-size: 13px;
  list-style-type: none;
  filter: brightness(90%);
}

.drop-menu li {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 0.84rem;
  font-weight: 400;
}

.drop-menu > li:not(:last-child) a:after {
  content: "-";
  padding-left: 20px;
}

@media only screen and (min-width: 1200px) {
  .drop-menu li {
    margin-left: 30px;
  }

  .drop-menu > li:not(:last-child) a:after {
    content: "-";
    padding-left: 30px;
  }
}
.software-menu {
  background-color: #67809f;
}

.support-menu {
  background-color: #4183d7;
}

.marketing-menu {
  background-color: #2ecc71;
}

.telecoms-menu {
  background-color: #d64541;
}

.design-menu {
  background-color: #926fb1;
}

.security-menu {
  background-color: #f62459;
}

.training-menu {
  background-color: #d64541;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.top-footer {
  background-color: #333645;
  padding: 47px 0 43px;
}

footer h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 40px;
}

.services, .offices {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.service, .office {
  width: 225px;
  margin-bottom: 30px;
}

.flex-column {
  flex-direction: column !important;
}

footer ul li {
  color: #ffffff;
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3rem;
}

ol, ul {
  padding-left: 0;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 0px) {
  footer .container .footer-row {
    max-width: 480px;
    margin: 0 auto;
  }
  footer .container .footer-row .services, footer .container .footer-row .offices {
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .container .footer-row .services .service, footer .container .footer-row .services .office, footer .container .footer-row .offices .service, footer .container .footer-row .offices .office {
    width: 225px;
  }
  footer .container .footer-row .offices {
    flex-wrap: wrap;
  }
}
.bottom {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  font-size: 0.8125rem;
  padding-top: 10px;
  margin-top: 10px;
}

.licence {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  padding-top: 5px;
}

.licence span {
  margin-left: 10px;
  margin-right: 10px;
}

.sitemap {
  font-weight: 400;
}

.visible-lg, .visible-md, .visible-sm, .visible-xs {
  display: none !important;
}

footer .bottom .social-media a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  border-radius: 50%;
  max-height: 38px;
}

footer .bottom .social-media a:hover.facebook {
  background-color: #3b5998;
}

footer .bottom .social-media a:hover.twitter {
  background-color: #00aced;
}

footer .bottom .social-media a:hover.instagram {
  background-color: #d93175;
}

footer .bottom .social-media a:hover.linkedin {
  background-color: #0077b5;
}

.bottom-futter, .partnersbadge ul {
  display: none;
}

@media only screen and (min-width: 768px) {
  .bottom-footer {
    padding: 50px 0;
    margin: 0 20px;
  }

  .partnersbadge ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .big_badge {
    width: 100%;
  }

  .small_badge {
    width: 80%;
  }
}
.service-list {
  margin-top: -30px;
  padding: 0 30px;
  background-color: rgb(246, 246, 246);
}

.service-list .block {
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
  background-color: #ffffff;
}

.block {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
}

.service-list h3 {
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

.service-list h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.service-list .block:hover h3::after {
  background-color: #ffffff;
}

.service-list p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

.software-icon {
  color: #ffffff;
  background-color: #67809f;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.software:hover {
  color: #ffffff;
  background-color: #67809f;
}

.software:hover .software-icon, .software:hover svg, .software:hover .btn {
  color: #67809f;
  background-color: #ffffff;
}

.software .btn {
  background-color: #67809f;
  color: #ffffff;
}

.support-icon {
  color: #ffffff;
  background-color: #4183d7;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.support:hover {
  color: #ffffff;
  background-color: #4183d7;
}

.support:hover .support-icon, .support:hover svg, .support:hover .btn {
  color: #4183d7;
  background-color: #ffffff;
}

.support .btn {
  background-color: #4183d7;
  color: #ffffff;
}

.marketing-icon {
  color: #ffffff;
  background-color: #2ecc71;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.marketing:hover {
  color: #ffffff;
  background-color: #2ecc71;
}

.marketing:hover .marketing-icon, .marketing:hover svg, .marketing:hover .btn {
  color: #2ecc71;
  background-color: #ffffff;
}

.marketing .btn {
  background-color: #2ecc71;
  color: #ffffff;
}

.telecoms-icon {
  color: #ffffff;
  background-color: #d64541;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.telecoms:hover {
  color: #ffffff;
  background-color: #d64541;
}

.telecoms:hover .telecoms-icon, .telecoms:hover svg, .telecoms:hover .btn {
  color: #d64541;
  background-color: #ffffff;
}

.telecoms .btn {
  background-color: #d64541;
  color: #ffffff;
}

.design-icon {
  color: #ffffff;
  background-color: #926fb1;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.design:hover {
  color: #ffffff;
  background-color: #926fb1;
}

.design:hover .design-icon, .design:hover svg, .design:hover .btn {
  color: #926fb1;
  background-color: #ffffff;
}

.design .btn {
  background-color: #926fb1;
  color: #ffffff;
}

.security-icon {
  color: #ffffff;
  background-color: #f62459;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.security:hover {
  color: #ffffff;
  background-color: #f62459;
}

.security:hover .security-icon, .security:hover svg, .security:hover .btn {
  color: #f62459;
  background-color: #ffffff;
}

.security .btn {
  background-color: #f62459;
  color: #ffffff;
}

.training-icon {
  color: #ffffff;
  background-color: #d64541;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.training:hover {
  color: #ffffff;
  background-color: #d64541;
}

.training:hover .training-icon, .training:hover svg, .training:hover .btn {
  color: #d64541;
  background-color: #ffffff;
}

.training .btn {
  background-color: #d64541;
  color: #ffffff;
}

svg, svg:hover {
  text-decoration: none;
  color: inherit;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*# sourceMappingURL=style.css.map */