.hero .hero-container-img {
  height: 100%;
  width: 100%;
  position: relative;
}

.img-cover {
  position: relative;
  right: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

.img-cover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.436));
  z-index: 3;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner .content_container {
  text-align: center;
  z-index: 4;
}

@media only screen and (min-width: 992px) {
  .banner .content_container {
    text-align: left;
  }
}
.hero_text {
  color: #ffffff;
  padding: 15px;
  line-height: 2.25rem;
  font-weight: 400;
}

.hero_1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3.3rem;
}

.hero_2 {
  font-size: 1.25rem;
}

.btn-hero {
  color: #ffffff;
  background-color: #67809f;
  border-color: #67809f;
  margin: 8px 20px;
  line-height: 50px !important;
  padding: 5px 20px !important;
}

.btn:focus {
  box-shadow: none;
}

.btn-hero:hover {
  color: #ffffff;
  border-color: #526781;
  background-color: #526781;
}

.bi-arrow-right {
  margin-left: 12px;
  margin-right: -4px;
}

.hero_container-center img {
  width: 100%;
}

.banner-dots {
  position: absolute;
  display: inherit;
  bottom: 42px;
  z-index: 4;
}

.banner-dots .dot {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  color: #ffffff;
}

.banner-dots .dot .bi-record2-fill {
  display: none;
}

/* Base -------------------------------*/
.newsletter {
  background-color: #d3d4d4;
  padding: 20px;
}

legend {
  font-size: 32px;
  font-weight: 400;
}

.asterisk {
  color: #d64541;
}

form {
  font-family: Poppins, sans-serif;
}

.form-group {
  margin-bottom: 1rem;
}

input[type=text], input[type=submit] {
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 47px;
  border-radius: 0px;
}

input[type=checkbox] {
  margin-top: 16px;
  margin-bottom: -45px;
  height: 32px;
  width: 32px;
  border: 3px solid #333645;
  background-color: #d3d4d4;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.form-check-input:focus {
  outline: none;
  border-color: #333645;
  box-shadow: none;
}

.form-check-label {
  line-height: 32px;
  cursor: pointer;
  margin-left: 30px;
}

.form-check-input:checked {
  background-color: #333645;
  border-color: #333645;
}

label {
  font-weight: bold;
}

label a {
  text-decoration: underline;
}

.btn-primary {
  color: #ffffff;
  background-color: #333645;
  border-color: #333645;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(49, 40, 40);
  border-color: rgb(49, 40, 40);
}

.badges ul {
  display: none;
}

@media only screen and (min-width: 768px) {
  .badges ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 20px 40px;
  }
  .badges ul li {
    position: relative;
    padding: 20px;
  }
  .badges ul li a .description {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
  }
  .badges ul li a .description .box {
    background-color: #333645;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 0.875rem;
    max-width: 260px;
    margin: 0 auto 44px;
  }
  .badges ul li a .description .box h3 {
    position: relative;
    font-size: 1.125rem;
    padding-bottom: 17px;
    margin: 0 0 11px;
  }
  .badges ul li a .description .box h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #ffffff;
  }
  .badges ul li a .description .box p {
    font-size: 0.8125rem;
    line-height: 1.375rem;
    margin-bottom: 0;
  }
  .badges ul li a .description .arrow {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
  }
  .badges ul li a img {
    width: 100%;
  }
  .badges ul li .coloured {
    display: none;
  }
  .badges ul li:hover .grey {
    display: none;
  }
  .badges ul li:hover .coloured {
    display: inline;
  }
  .badges ul li:hover .description {
    display: block;
  }
}
.btn {
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  white-space: normal;
  cursor: pointer;
}

* {
  margin: 0px;
  letter-spacing: 0.4px;
  flex-direction: row;
  justify-content: space-around;
}

img, svg {
  vertical-align: unset;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
  text-align: center;
  background-color: #ffffff;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.outer {
  max-width: none;
  margin: auto;
  width: 100%;
}

.inner {
  margin: 15px 0;
  width: 100%;
  max-width: none;
  --bs-gutter-x: 0;
}

p {
  margin: 0px;
  font-weight: 400;
}

.search_container2 {
  width: 100%;
}

.form2 {
  display: flex;
  position: relative;
  margin: 10px 5px 0;
}

input[name=search2] {
  width: 100%;
  background-color: #E5E5E5;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  box-shadow: inset 0 0.875px rgba(0, 0, 0, 0.1);
  height: 47px;
  padding-left: 10px;
  font-size: 0.875rem;
  font-weight: 400;
  outline: 0;
}

button[name=search2] {
  max-width: 46px;
  background-color: #E5E5E5;
  color: #333645;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  box-shadow: inset 0 0.875px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
  height: 47px;
  padding: 8px;
  right: 0;
}

.search_container {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container_top {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .container_top .search_container2 {
    display: none;
  }
  .container_top .search_container {
    display: flex;
    width: 100%;
  }
  .container_top .search_container .form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .container_top .search_container .form .search_form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-right: none;
    box-shadow: inset 0 0.875px rgba(0, 0, 0, 0.1);
    line-height: 1.42857143;
    height: 56px;
    border-radius: 3px 0 0 3px;
    font-size: 0.875rem;
    padding: 0px 10px;
    position: relative;
    outline: 0;
  }
  .container_top .search_container .form .search_button {
    position: absolute;
    width: 63px;
    height: 56px;
    font-size: 24px;
    color: #ffffff;
    background-color: #999aa2;
    border: 0;
    border-radius: 0 3px 3px 0;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .container_top .search_container .form .search_form {
    display: none;
  }
  .container_top .search_container .form .search_button {
    position: relative;
    border-radius: 3px;
  }
  .container_top .search_container .form .search_button:hover {
    background-color: #84858f;
  }
}
@media only screen and (min-width: 1260px) {
  .container_top .search_container .form .search_form {
    display: revert !important;
    width: 90%;
  }
  .container_top .search_container .form .search_button {
    position: absolute;
    border-radius: 0 3px 3px 0;
    text-align: center;
    margin: 0px;
  }
}
.navbar_logo {
  max-width: 392px;
  width: 100%;
  padding: 10px;
}

.container_top, .container_bottom, .container-phone {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.topnav .right-col {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.container_button {
  display: none;
}

@media only screen and (min-width: 992px) {
  .container_button {
    display: flex;
  }
}

.btn_1 {
  display: inline;
  width: 141px;
  height: 56px;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #4183d7;
  box-shadow: none;
  border-color: #4183d7;
  text-transform: uppercase;
  border: 0;
}

.btn_1:hover {
  background-color: #286abd;
}

.btn_2 {
  display: inline;
  height: 56px;
  width: 149px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #999aa2;
  box-shadow: none;
  margin-left: 20px;
  text-transform: uppercase;
  border: 0;
}

.btn_2:hover {
  background-color: #84858f;
}

.menu_btn {
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #333645;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  .menu_btn {
    margin-left: 20px;
  }
}

.menu_btn:hover {
  background-color: #22242e;
}

.hamburger .title {
  display: block;
  font-size: 0.75rem;
  line-height: 1;
  position: relative;
  margin-bottom: 0;
}

.container_phone {
  align-items: center;
  padding-bottom: 3px;
  margin: 15px;
}
.container_phone .fa-phone-volume {
  color: #333645;
  font-size: 30px;
}
.container_phone .fa-phone-volume:hover {
  color: #22242e;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .container_phone {
    display: none;
  }
}

.fa-solid, .fa-regular, .fas {
  padding-right: 8px;
}

@media only screen and (min-width: 992px) {
  header #main_nav {
    position: relative;
    background-color: #333645;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 100%;
  }
  header nav {
    display: flex !important;
  }
}

.s {
  font-size: 10px;
  padding-bottom: 1px;
}

.drop-btn {
  position: relative;
  display: block;
  padding: 19px 0 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

.drop-btn .icon {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.software-btn .icon {
  color: #67809f;
}

.software-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #67809f;
}

.software-btn:hover {
  color: #ffffff;
  background-color: #67809f;
}

.software-btn:hover svg, .software:hover .btn {
  color: #ffffff;
}

.support-btn .icon {
  color: #4183d7;
}

.support-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #4183d7;
}

.support-btn:hover {
  color: #ffffff;
  background-color: #4183d7;
}

.support-btn:hover svg, .support:hover .btn {
  color: #ffffff;
}

.marketing-btn .icon {
  color: #2ecc71;
}

.marketing-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #2ecc71;
}

.marketing-btn:hover {
  color: #ffffff;
  background-color: #2ecc71;
}

.marketing-btn:hover svg, .marketing:hover .btn {
  color: #ffffff;
}

.telecoms-btn .icon {
  color: #d64541;
}

.telecoms-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #d64541;
}

.telecoms-btn:hover {
  color: #ffffff;
  background-color: #d64541;
}

.telecoms-btn:hover svg, .telecoms:hover .btn {
  color: #ffffff;
}

.design-btn .icon {
  color: #926fb1;
}

.design-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #926fb1;
}

.design-btn:hover {
  color: #ffffff;
  background-color: #926fb1;
}

.design-btn:hover svg, .design:hover .btn {
  color: #ffffff;
}

.security-btn .icon {
  color: #f62459;
}

.security-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #f62459;
}

.security-btn:hover {
  color: #ffffff;
  background-color: #f62459;
}

.security-btn:hover svg, .security:hover .btn {
  color: #ffffff;
}

.training-btn .icon {
  color: #926fb1;
}

.training-btn svg {
  text-align: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-bottom: 17px;
  font-size: 23px;
  line-height: 60px;
  color: #926fb1;
}

.training-btn:hover {
  color: #ffffff;
  background-color: #926fb1;
}

.training-btn:hover svg, .training:hover .btn {
  color: #ffffff;
}

.drop-box::before, .drop-box::after {
  content: "";
  right: 0;
  min-width: 100vw;
  max-width: 100vw;
  display: block;
  position: absolute;
  height: 40px;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.nav-item {
  border-left: 1px solid hsla(0deg, 0%, 100%, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-item:hover .drop-menu {
  display: flex;
}

.drop-menu {
  display: none;
  flex-direction: row;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  justify-content: flex-start;
  font-size: 13px;
  list-style-type: none;
}

.drop-menu li {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 0.84rem;
  font-weight: 400;
}

.list-unstyled > li:not(:last-child) a:after {
  content: "-";
  padding-left: 20px;
}

.software-menu {
  background-color: #526781;
}

.software-box:hover {
  background-color: #67809f;
}
.software-box:hover svg {
  color: #ffffff;
}

.support-menu {
  background-color: #286abd;
}

.support-box:hover {
  background-color: #4183d7;
}
.support-box:hover svg {
  color: #ffffff;
}

.marketing-menu {
  background-color: #25a25a;
}

.marketing-box:hover {
  background-color: #2ecc71;
}
.marketing-box:hover svg {
  color: #ffffff;
}

.telecoms-menu {
  background-color: #bc2c28;
}

.telecoms-box:hover {
  background-color: #d64541;
}
.telecoms-box:hover svg {
  color: #ffffff;
}

.design-menu {
  background-color: #79539a;
}

.design-box:hover {
  background-color: #926fb1;
}
.design-box:hover svg {
  color: #ffffff;
}

.security-menu {
  background-color: #de093f;
}

.security-box:hover {
  background-color: #f62459;
}
.security-box:hover svg {
  color: #ffffff;
}

.training-menu {
  background-color: #79539a;
}

.training-box:hover {
  background-color: #926fb1;
}
.training-box:hover svg {
  color: #ffffff;
}

@media only screen and (min-width: 1260px) {
  .drop-menu li {
    margin-left: 30px;
  }
  .drop-menu > li:not(:last-child) a:after {
    content: "-";
    padding-left: 30px;
  }
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}

.top-footer {
  background-color: #333645;
  padding: 47px 0 43px;
}

footer h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 40px;
}

.services, .offices {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
}

.service, .office {
  width: 225px;
  margin-bottom: 10px;
}

.flex-column {
  flex-direction: column !important;
}

footer ul li {
  color: #ffffff;
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3rem;
}

ol, ul {
  padding-left: 0;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 0px) {
  footer .container .footer-row {
    max-width: 480px;
    margin: 0 auto;
  }
  footer .container .footer-row .services, footer .container .footer-row .offices {
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .container .footer-row .services .service, footer .container .footer-row .services .office, footer .container .footer-row .offices .service, footer .container .footer-row .offices .office {
    width: 225px;
  }
  footer .container .footer-row .offices {
    flex-wrap: wrap;
  }
}
.bottom {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #888;
  font-size: 0.8125rem;
  padding-top: 10px;
  margin-top: 10px;
}

.licence {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  padding-top: 5px;
}

.licence span {
  margin-left: 10px;
  margin-right: 10px;
}

.sitemap {
  font-weight: 400;
}

.visible-lg, .visible-md, .visible-sm, .visible-xs {
  display: none !important;
}

footer .bottom .social-media a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 7px 10px 10px;
  border-radius: 50%;
  max-height: 38px;
}

footer .bottom .social-media a:hover.facebook {
  background-color: #3b5998;
}

footer .bottom .social-media a:hover.twitter {
  background-color: #00aced;
}

footer .bottom .social-media a:hover.instagram {
  background-color: #d93175;
}

footer .bottom .social-media a:hover.linkedin {
  background-color: #0077b5;
}

.bottom-futter, .partnersbadge ul {
  display: none;
}

@media only screen and (min-width: 768px) {
  .bottom-footer {
    padding: 50px 0;
  }
  .partnersbadge ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .partnersbadge ul:nth-of-type(2) {
    margin-top: 20px;
  }
  .big_badge {
    width: 100%;
  }
  .small_badge {
    width: 80%;
  }
  .coloured {
    display: none;
  }
  li:hover .grey {
    display: none;
  }
  li:hover .coloured {
    display: inline;
  }
}
.service-list {
  margin: 0 -5px;
}

@media only screen and (min-width: 1260px) {
  .service-list .row {
    margin: 0 -50px;
  }
}
.service-list .block {
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
  background-color: #ffffff;
}

.block {
  display: block;
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 30px;
}

.col-md-4 {
  position: relative;
  min-height: 1px;
}

.service-list h3 {
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

.service-list h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.service-list .block:hover h3::after {
  background-color: #ffffff;
}

.service-list p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .visible-md {
    display: block !important;
  }
}
@media only screen and (min-width: 992px) {
  .visible-lg {
    display: block !important;
  }
  .visible-md {
    display: none !important;
  }
}
@media only screen and (min-width: 1260px) {
  .visible-lg {
    display: none !important;
  }
}
.software-icon {
  color: #ffffff;
  background-color: #67809f;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.software:hover {
  color: #ffffff;
  background-color: #67809f;
}

.software:hover .software-icon, .software:hover svg, .software:hover .btn {
  color: #67809f;
  background-color: #ffffff;
}

.software .btn {
  background-color: #67809f;
  color: #ffffff;
}

.support-icon {
  color: #ffffff;
  background-color: #4183d7;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.support:hover {
  color: #ffffff;
  background-color: #4183d7;
}

.support:hover .support-icon, .support:hover svg, .support:hover .btn {
  color: #4183d7;
  background-color: #ffffff;
}

.support .btn {
  background-color: #4183d7;
  color: #ffffff;
}

.marketing-icon {
  color: #ffffff;
  background-color: #2ecc71;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.marketing:hover {
  color: #ffffff;
  background-color: #2ecc71;
}

.marketing:hover .marketing-icon, .marketing:hover svg, .marketing:hover .btn {
  color: #2ecc71;
  background-color: #ffffff;
}

.marketing .btn {
  background-color: #2ecc71;
  color: #ffffff;
}

.telecoms-icon {
  color: #ffffff;
  background-color: #d64541;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.telecoms:hover {
  color: #ffffff;
  background-color: #d64541;
}

.telecoms:hover .telecoms-icon, .telecoms:hover svg, .telecoms:hover .btn {
  color: #d64541;
  background-color: #ffffff;
}

.telecoms .btn {
  background-color: #d64541;
  color: #ffffff;
}

.design-icon {
  color: #ffffff;
  background-color: #926fb1;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.design:hover {
  color: #ffffff;
  background-color: #926fb1;
}

.design:hover .design-icon, .design:hover svg, .design:hover .btn {
  color: #926fb1;
  background-color: #ffffff;
}

.design .btn {
  background-color: #926fb1;
  color: #ffffff;
}

.security-icon {
  color: #ffffff;
  background-color: #f62459;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.security:hover {
  color: #ffffff;
  background-color: #f62459;
}

.security:hover .security-icon, .security:hover svg, .security:hover .btn {
  color: #f62459;
  background-color: #ffffff;
}

.security .btn {
  background-color: #f62459;
  color: #ffffff;
}

.training-icon {
  color: #ffffff;
  background-color: #d64541;
  font-weight: 400;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 17px;
}

.training:hover {
  color: #ffffff;
  background-color: #d64541;
}

.training:hover .training-icon, .training:hover svg, .training:hover .btn {
  color: #d64541;
  background-color: #ffffff;
}

.training .btn {
  background-color: #d64541;
  color: #ffffff;
}

svg, svg:hover {
  text-decoration: none;
  color: inherit;
}

.about-section {
  color: #ffffff;
  background-color: #333645;
  letter-spacing: 0.4px;
  padding: 50px 25px;
  margin: 0 auto;
}
.about-section h2 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 28px;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: -6px;
}

.about-section p:first-of-type {
  font-weight: 600;
}

.about-section p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  font-weight: 400;
  margin: 0 0 25px;
}

.about-section .btn {
  background-color: #ffffff;
  color: #333645;
  height: auto;
  font-size: 1.063rem;
  border-radius: 3px;
}

@media only screen and (min-width: 992px) {
  .about-section {
    background-image: url(../img/branded.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto 100%;
  }
}
.news {
  color: #ffffff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.news::after {
  content: "";
  display: block;
  background-color: #333645;
  margin: 10px 25px 50px;
  height: 5px;
  width: 72px;
}
@media only screen and (min-width: 1260px) {
  .news::after {
    margin: 10px 65px 50px;
  }
}

@media only screen and (min-width: 0px) {
  .news-list {
    display: block;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .news-list {
    display: flex;
    flex-direction: row;
  }
  .news-list > :last-child {
    display: none;
  }
}
@media only screen and (min-width: 1260px) {
  .news-list > :last-child {
    display: block;
  }
}
.latest {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}
.latest h3 {
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 40px;
  margin: 20px 0;
  color: #333645;
  text-transform: uppercase;
}

@media only screen and (min-width: 0px) {
  .list {
    margin: -10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (min-width: 768px) {
  .list {
    margin: 0 15px 20px;
  }
}

.news-img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.tag {
  position: absolute;
  right: 0;
  color: #ffffff;
  top: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.news-text {
  padding: 20px 30px;
  border: 1px solid lightgrey;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0 0 3px 3px;
  flex-grow: 1;
}
.news-text h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 10px 0;
  font-weight: 600;
  text-transform: capitalize;
}
.news-text p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #666;
}

.text-color-1 {
  color: #d64541;
}

.text-color-2 {
  color: #926fb1;
}

.btn-color-1, .color-1 {
  background-color: #d64541;
}

.btn-color-2, .color-2 {
  background-color: #926fb1;
}

.btn-color-1, .btn-color-2 {
  color: #ffffff;
}

.news-text .btn {
  margin: 20px 0;
}

.news-text .btn:hover {
  color: #ffffff;
}

.news-text .btn-color-1:hover {
  background-color: #be3c38;
}

.news-text .btn-color-2:hover {
  background-color: #80629b;
}

.user::before {
  content: "";
  display: block;
  background-color: grey;
  margin-top: 10px;
  height: 2px;
  width: 100%;
  margin-bottom: 20px;
}

.avatar {
  position: absolute;
}

.details {
  position: relative;
  margin-left: 70px;
}
.details .strong {
  color: #333645;
  font-weight: 600;
}
.details span {
  font-size: 0.875rem;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}/*# sourceMappingURL=style.css.map */