@use '../abstracts/index' as *;
/* Base -------------------------------*/


//------------------------------Email newsletter container--------------------------------
.newsletter {
    background-color: $color-bg-light;
    padding: 20px;
}
legend {
    font-size: 32px;
    font-weight: 400;
}
.asterisk {
    color: $strawberry;
}
form {
    font-family: $font-family;
 }    
.form-group {
    margin-bottom: 1rem;
 }

input[type=text], input[type=submit] {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 47px;
    border-radius: 0px;
  }
  
input[type=checkbox] {
    margin-top: 16px;
    margin-bottom: -45px;
    height: 32px;
    width: 32px;
    border: 3px solid $color-bg;
    background-color: #d3d4d4;
  }
input[type=checkbox]:hover {
    cursor: pointer;
}
.form-check-input:focus {
    outline: none;
    border-color: $color-bg;
    box-shadow: none;
  }
.form-check-label {
    line-height: 32px;
    cursor: pointer;
    margin-left: 30px;
}
.form-check-input:checked {
    background-color: $color-bg;
    border-color: $color-bg;
}
label {
    font-weight: bold;
}
label a {
    text-decoration: underline;
}
//subscribe button and it's hover effect
.btn-primary {
    color: $white;
    background-color: $color-bg;
    border-color: $color-bg;
}
.btn-primary:hover {
    color: #fff;
    background-color: rgb(49, 40, 40);
    border-color: rgb(49, 40, 40);
}

//-----------------------------------top badges-----------------------------------
.badges ul {
    display: none;
}
@media only screen and (min-width: $break-m) {
    .badges ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        margin: 20px 40px;
        li {
            position: relative;
            padding: 20px;
            a .description {
                display: none;
                position: absolute;
                bottom: 100%;
                left: -200px;
                right: -200px;
                .box {
                    background-color: $color-bg;
                    color: $white;
                    text-align: center;
                    padding: 20px;
                    font-size: .875rem;
                    max-width: 260px;
                    margin: 0 auto 44px;
                    h3 {
                        position: relative;
                        font-size: 1.125rem;
                        padding-bottom: 17px;
                        margin: 0 0 11px;
                    }
                    h3::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 28px;
                        height: 3px;
                        display: block;
                        background-color: $white;
                    }                                                           
                    p {
                        font-size: .8125rem;
                        line-height: 1.375rem;
                        margin-bottom: 0;
                    }
                }
                .arrow {
                    position: absolute;
                    display: inline-block;
                    bottom: 10px;
                    left: 50%;
                    margin-left: -36px;
                    border-color: #333645 transparent transparent;
                    border-style: solid;
                    border-width: 35px 36px 0;
                }
            }
            a img {
                width: 100%;
            }
            .coloured {
                display: none;
            }
        }
        li:hover .grey {
            display: none;
        }
        li:hover .coloured {
            display: inline;
        }
        li:hover .description {
            display: block;
        }
    } 
}

//---------------------------------general button styling--------------------------------
.btn {
    line-height: 35px;
    padding: 5px 15px;
    font-size: 1.063rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    white-space: normal;
    cursor: pointer;
}