@use '../abstracts/index' as *;
/* Base -------------------------------*/


// Email newsletter container
.newsletter {
   // background: $white;
    background-color: $color-bg-light;
}
//newsletter h2
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0,5rem;
    line-height: inherit;
    font-size: 32px;
    font-weight: 900;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.asterisk {
    color: $strawberry;
}
form {
    font-family: $font-family;
 }    

input[type=text], input[type=submit] {
    width: 80%;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
input[type=checkbox] {
    margin-top: 16px;
    margin-bottom: -45px;
    height: 30px;
    width: 30px;
    border: 3px solid $color-bg;
  }
.form-check-label {
    line-height: 32px;
    cursor: pointer;
    margin-left: 30px;
}
.form-check-input:checked {
    background-color: $color-bg;
    border-color: $color-bg;
}
label {
    font-weight: bold;
}
label a {
    text-decoration: underline;
}
  
.btn-primary {
    color: $white;
    background-color: $color-bg;
    border-color: $color-bg;
}
.btn-primary:hover {
    color: #fff;
    background-color: rgb(49, 40, 40);
    border-color: rgb(49, 40, 40);
}

//badges

.badges ul {
    display: none;
}
@media only screen and (min-width: $break-m) {
    .badges ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        margin: 20px 40px;
        li {
            padding: 20px;
            img {
                width: 100%;
            }
        }
    } 
}




//styling for buttons in general
.btn {
    line-height: 35px;
    padding: 5px 15px;
    font-size: 1.063rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    white-space: normal;
    margin: 10px;
}