@use '../abstracts/index' as *;


//top footer, services and offices
.top-footer {
    background-color: $color-bg;
    padding: 47px 0 43px;
}

footer h4 {
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 26px;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 40px;
}

.services, .offices {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}
.service, .office {
    width: 225px;
    margin-bottom: 30px;
}
.flex-column {
    flex-direction: column !important;
}
footer ul li {
    color: $white;
    list-style-type: none;
    font-size: .80rem;
    font-weight: 600;
    line-height: 1.3rem
}
footer a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
//footer rule
hr:not([size]) {
    height: 1px;
    color: $white;
}
.foot-rule {
    margin-bottom: 14px;
}
.bottom {
    margin: 0 40px;
}
.licence {
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    color: $white;
    display: flex;
    padding-top: 5px;
}
.licence span {
    margin-left: 8px;
    margin-right: 8px;
}
// .licence .sitemap {
//     margin: 0;
// }
//br with class "visible-xs" will break the line on mobile devices
.visible-lg, .visible-md, .visible-sm, .visible-xs {
    display: none!important;
}

//    footer .bottom {
//        display: flex;
//        justify-content: space-between;
//        border-top: 1px solid #888;
//        font-size: .80rem;
//        padding-top: 10px;
//        margin-top: 10px;
//    }


// partnersbadges 
.bottom-footer {
    padding: 50px 0;
    margin: 0 20px;
}
.partnersbadge ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: $break-xs) {
    footer .container .footer-row{
        max-width: 480px;
        margin: 0 auto;
        .services, .offices {
            flex-direction: row;
            justify-content: space-evenly;
            .service, .office{
                width: 225px;
            }
        }
        .offices {
            flex-wrap: wrap;
        }
    }

}
