@use '../abstracts/index' as *;


//-----------------------------------------------footer top--------------------------------------
.top-footer {
    background-color: $color-bg;
    padding: 47px 0 43px;
}

footer h4 {
    color: $white;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 26px;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 40px;
}

//----------------------------------------------services and offices---------------------------------
.services, .offices {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}
.service, .office {
    width: 225px;
    margin-bottom: 30px;
}
.flex-column {
    flex-direction: column !important;
}
footer ul li {
    color: $white;
    list-style-type: none;
    font-size: .80rem;
    font-weight: 600;
    line-height: 1.3rem;
}
ol, ul {
    padding-left: 0;
}
footer a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
footer a:hover {
    text-decoration: underline;
}
@media (min-width: $break-xs) {
    footer .container .footer-row{
        max-width: 480px;
        margin: 0 auto;
        .services, .offices {
            flex-direction: row;
            justify-content: space-evenly;
            .service, .office{
                width: 225px;
            }
        }
        .offices {
            flex-wrap: wrap;
        }
    }
}

//--------------------------footer bottom: licence, sitemap and social media---------------------------
.bottom {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #888;
    font-size: .8125rem;
    padding-top: 10px;
    margin-top: 10px;
}
.licence {
    list-style: none;
    text-decoration: none;
    color: $white;
    display: flex;
    padding-top: 5px;
}
.licence span {
    margin-left: 10px;
    margin-right: 10px;
}
.sitemap {
    font-weight: 400;
}

//br with class "visible-xs" will break the line on mobile devices
.visible-lg, .visible-md, .visible-sm, .visible-xs {
    display: none!important;
}
footer .bottom .social-media a {
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px 10px;
    border-radius: 50%;
    max-height: 38px;
}
footer .bottom .social-media a:hover.facebook {
    background-color: #3b5998;
}
footer .bottom .social-media a:hover.twitter {
    background-color: #00aced;
}
footer .bottom .social-media a:hover.instagram {
    background-color: #d93175;
}
footer .bottom .social-media a:hover.linkedin {
    background-color: #0077b5;
}

//------------------------------------------partnersbadges----------------------------------------
.bottom-futter, .partnersbadge ul {
    display: none;
}
@media only screen and (min-width: $break-m) {
    .bottom-footer {
        padding: 50px 0;
        margin: 0 20px;
    }
    .partnersbadge ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    } 
    .big_badge {
        width: 100%;
    }
    .small_badge {
        width: 80%;
    }
    .coloured {
        display: none;
    }
    li:hover .grey {
        display: none;
    }
    li:hover .coloured {
        display: inline;
    }
} 