@use '../abstracts/index' as *;

.container {
  display: flex;  
  flex-wrap: wrap;
}

header {
  @media only screen and (min-width: $break-xs) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    text-align: center;
    background-color: $white;

    .nav_container {
      margin-right: auto;
      margin-left: auto;
      padding: 0.6rem 6px 0 6px;
    }
    .top_nav {
      display: flex;
      align-items: center;
      max-width: 100%;
      min-width: 0;
      padding: 20px 15px;
      color: $white;
    }
    #logo {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    // #logo a {
    //   text-decoration: none;
    //   color: inherit;
    //   cursor: pointer;
    // }
    // #logo .navbar_logo {
    //   flex: 1;
    //   display: flex;
    //   flex-direction: row;
    // }

    nav {
      display: none !important;
    }
  }
}
  .btn {
    text-transform: uppercase;
  }

  .top_btn {
    display: flex;
    align-items: center;
  }

  

//   .navbar_bars {
    
//     color: $grayblue;
//     display: block;
//     position: absolute;
//     top: 22px;
//     right: 20px;
//     font-size: 2rem;
//     @media only screen and (min-width: $break-m) {
//         opacity: 0;
//     }
// }
//   .navbar .btn{
//     font-family: $font-family;
//     font-size: 1.2rem;
//     text-transform: uppercase;
//   }


//   .navbar .btn input[type=text] {
//     display: block;
//     margin-top: 0em;
//     font-family: $font-family;
//     font-size: 1rem;
//     letter-spacing: .4px;
//     color: $color-text;
//   }

header {
  @media only screen and (min-width: $break-l) {
    #main_nav {
      background: $color-bg;
      color: $white;
      text-transform: uppercase;
    }
    nav {
      display: flex !important;
    }
    .container {
      position: relative;
      background-color: $color-bg;
      color: $white;
    }
  }
}


#menu-software {
  background:#67809f;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-support {
  background:#4183d7;
  @include menu-top;

  .ul {
    @include ul;
  }

}
#menu-marketing {
  background:#2ecc71;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-services {
  background:#d64541;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-design {
  background:#926fb1;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-security {
  background: #f62459;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-training {
  background:#926fb1;
  @include menu-top;

  .ul {
    @include ul;
  }
}

