@use '../abstracts/index' as *;

  
  .navbar {
    background: $white;
    //height: 100px;
    display: flex;
    // justify-content: space-between;
    // padding: 0.5rem calc((100vw - 1200px) /2);
    // z-index: 10;
    // position: relative;
}

  .navbar_logo {
    max-width: 30%;
    margin-right: auto;  
  }

  .btn {
    text-transform: uppercase;
  //  color: $white;
  }

  .top_btn {
    display: flex;
    align-items: center;
  }

  

//   .navbar_bars {
    
//     color: $grayblue;
//     display: block;
//     position: absolute;
//     top: 22px;
//     right: 20px;
//     font-size: 2rem;
//     @media only screen and (min-width: $break-m) {
//         opacity: 0;
//     }
// }
//   .navbar .btn{
//     font-family: $font-family;
//     font-size: 1.2rem;
//     text-transform: uppercase;
//   }


//   .navbar .btn input[type=text] {
//     display: block;
//     margin-top: 0em;
//     font-family: $font-family;
//     font-size: 1rem;
//     letter-spacing: .4px;
//     color: $color-text;
//   }
  .container_top {
    display: flex;
  }

#menu-software {
  background:#67809f;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-support {
  background:#4183d7;
  @include menu-top;

  .ul {
    @include ul;
  }

}
#menu-marketing {
  background:#2ecc71;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-services {
  background:#d64541;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-design {
  background:#926fb1;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-security {
  background: #f62459;
  @include menu-top;

  .ul {
    @include ul;
  }
}
#menu-training {
  background:#926fb1;
  @include menu-top;

  .ul {
    @include ul;
  }
}

