@use '../abstracts/index' as *;

* {
  margin: 0px;
  font-family: $font-family;
  line-height: normal;
  
}
.outer {
  width: 100vw;
  margin: auto;
}
.inner {
  @media only screen and (min-width: $break-m) {
    width: 750px;
  }
  @media only screen and (min-width: $break-l) {
    width: 970px;
  }
  @media only screen and (min-width: $break-xl) {
    width: 1200px;
  }
  margin: 20px 0 20px 60px;
}
.container_top {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_logo {
  max-width: 100%;
  height: auto;
}
.container_top, .topnav, .container_bottom, .container-phone {
  display: flex;
  flex-wrap: wrap;
}
.container_button {
  display: none;
}
.container_button {
  @media only screen and (min-width: $break-l) {
    display: flex;
  }
}
//buttons styling
.btn_1 {
  display: inline;
  width: 141px;
  height: 56px;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: $white;
  background-color: #4183d7;
  box-shadow: none;
  border-color: #4183d7;
  text-transform: uppercase;
  border: 0;
}
.btn_2 {
  display: inline;
  height: 56px;
  width: 149px;
  border-radius: 3px;
  font-size: 18px;
  padding: 5px 15px;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #999aa2;
  box-shadow: none;
  margin-left: 20px;
  text-transform: uppercase;
  border: 0;
}

.search_container {
  display: flex;
}
.form {
  display: flex;
  margin-left: 20px;
  
}
.search_form {
  padding: 5px 15px;
  width: 63px;
  height: 56px;
}
.search_button {
  width: 63px;
  height: 56px;
  font-size: 24px;
  color: $white;
  background-color: #999aa2;
  border: 0;
  text-align: center;
}

//phone icon that appears on small devices
.menu_phone {
  display: flex;
  align-items: center;
}
.container_phone {
  align-items: center;
  padding-bottom: 3px;
  width: 32px;
  height: 32px;
  @media only screen and (min-width: $break-m) {
    display: none;
  }
}

//general container display
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: $break-xs) {
    header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    text-align: center;
    background-color: $white;

    // .nav_container {
    //   margin-right: auto;
    //   margin-left: auto;
    //   padding: 0.6rem 6px 0 6px;
    // }
    // .top_nav {
    //   display: flex;
    //   align-items: center;
    //   max-width: 100%;
    //   min-width: 0;
    //   padding: 20px 15px;
    //   margin: 0 20px;
    //   color: $white;
    // }
    #logo {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    // #logo a {
    //   text-decoration: none;
    //   color: inherit;
    //   cursor: pointer;
    // }
    // #logo .navbar_logo {
    //   flex: 1;
    //   display: flex;
    //   flex-direction: row;
    // }
  }
}

  .top_btn {
    display: flex;
    align-items: center;
  }

  

//   .navbar_bars {
    
//     color: $grayblue;
//     display: block;
//     position: absolute;
//     top: 22px;
//     right: 20px;
//     font-size: 2rem;
//     @media only screen and (min-width: $break-m) {
//         opacity: 0;
//     }
// }
//   .navbar .btn{
//     font-family: $font-family;
//     font-size: 1.2rem;
//     text-transform: uppercase;
//   }


header {
  @media only screen and (min-width: $break-l) {
    nav {
      display: flex !important;
    }
    #main_nav {
      position: relative;
      background-color: $color-bg;
      color: $white;
    }
  }
}


//menu buttons and dropdown submenu
.s {
  font-size: 10px;
  padding-bottom: 1px;
}
.drop-btn {
  position: relative;
  display: block;
  padding: 19px 0 18px;
  text-transform: uppercase;
  line-height: 1;
}

.drop-btn .icon {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.software-btn .icon {
  color: $grayblue;
}
.software-btn svg {
  @include main-nav-item;
  color: $grayblue;
}
.software-btn:hover {
  color: $white;
  background-color: $grayblue;
}
.software-btn:hover svg, .software:hover .btn {
  color: $white;
}

.support-btn .icon {
  color: $blue;
}
.support-btn svg {
  @include main-nav-item;
  color: $blue;
}
.support-btn:hover {
  color: $white;
  background-color: $blue;
}
.support-btn:hover svg, .support:hover .btn {
  color: $white;
}

.marketing-btn .icon {
  color: $green;
}
.marketing-btn svg {
  @include main-nav-item;
  color: $green;
}
.marketing-btn:hover {
  color: $white;
  background-color: $green;
}
.marketing-btn:hover svg, .marketing:hover .btn {
  color: $white;
}

.telecoms-btn .icon {
  color: $strawberry;
}
.telecoms-btn svg {
  @include main-nav-item;
  color: $strawberry;
}
.telecoms-btn:hover {
  color: $white;
  background-color: $strawberry;
}
.telecoms-btn:hover svg, .telecoms:hover .btn {
  color: $white;
}

.design-btn .icon {
  color: $purple;
}
.design-btn svg {
  @include main-nav-item;
  color: $purple;
}
.design-btn:hover {
  color: $white;
  background-color: $purple;
}
.design-btn:hover svg, .design:hover .btn {
  color: $white;
}

.security-btn .icon {
  color: $rasberry;
}
.security-btn svg {
  @include main-nav-item;
  color: $rasberry;
}
.security-btn:hover {
  color: $white;
  background-color: $rasberry;
}
.security-btn:hover svg, .security:hover .btn {
  color: $white;
}

.training-btn .icon {
  color: $strawberry;
}
.training-btn svg {
  @include main-nav-item;
  color: $strawberry;
}
.training-btn:hover {
  color: $white;
  background-color: $strawberry;
}
.training-btn:hover svg, .training:hover .btn {
  color: $white;
  
}

// icons svg
.fa-th::before {
  content: "\f00a";
}
.bi-display::before {
  content: "\f302";
}
.bi-bar-chart-fill::before {
  content: "\f17a";
}
.bi-code-slash::before {
  content: "\f2c6";
}

//menu drop
.software-bar, .design-menu {
  background-color: $grayblue;
}
.support-bar, .design-menu {
  background-color: $blue;
}
.dogital-bar, .design-menu {
  background-color: $green;
}
.telecoms-bar, .design-menu {
background-color: $strawberry;
}
.design-bar, .design-menu {
  background-color: $purple;
}
.securit-bar, .design-menu {
  background-color: $rasberry;
}
.training-bar, .design-menu {
  background-color: $strawberry;
}
.back-bar {
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -45px;
  height: 45px;
  width: 100vw;
}
.drop-menu {
  display: none;
  position: absolute;
  z-index: 2;
  padding-left: 0;
  height: 100%;
  width: 150px;
  font-size: 13px;
  list-style-type: none;
  background-color: $color-bg;
  border-radius: 0 0 10px 10px;
}
.drop-menu:hover {
  background-color: $color-bg;
  display: block;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}