@use '../abstracts/index' as *;

// .hero .hero-container-img {
//     height: 100%;
//     width: 100%;
//     position: relative;
// }
// .img-cover {
//     position: relative;
//     //top: 0;
//     right: 0;
//     //bottom: 0;
//     left: 0;
//     z-index: 4;
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
//     overflow: hidden;
// }
// .content::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.436));
//     z-index: 3;
// }
.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.436));
}
.banner .content_container { 
    text-align: center;
    z-index: 4;
}
@media only screen and (min-width: $break-l){
    .banner .content_container {
        text-align: left;
    }
}
.hero_text {
    color: $white;
    padding: 15px;
    line-height: 2.25rem;
    font-weight: 400;
}
.hero_1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.3rem;
}
.hero_2 {
    font-size: 1.25rem;
}
.btn-hero {
    color: $white;
    background-color: $grayblue;
    border-color: $grayblue;
    margin: 8px 20px;
    line-height: 50px !important;
    padding: 5px 20px !important;
}
.btn:focus {
    box-shadow: none;
}
.btn-hero:hover {
    color: $white;
    border-color: #526781;
    background-color: #526781;
}
.bi-arrow-right {
    margin-left: 12px;
    margin-right: -4px;
}

.hero_container-center img {
    width: 100%;
}
.banner-dots {
    position: absolute;
    display: inherit;
    bottom: 42px;
    z-index: 4;
}
.banner-dots .dot {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    color: $white;
}
.banner-dots .dot .bi-record2-fill {
    display: none;
}