@use '../abstracts/index' as *;

.middle {
    padding: 50px 50px;

    @media only screen and (min-width: $break-s) {
        width: 500px;
    }
    @media only screen and (min-width: $break-m) {
        width: 800px;

    } 
    @media only screen and (min-width: $break-l) {
        width: 1000px;
    } 
    @media only screen and (min-width: $break-xl) {
        width: 1200px;
    } 
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.service-list {
    margin-top: -30px;
}
.service-list .block {
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
}
.block {
    display: block;
    border: 1px solid $color-text;
    border-radius: 3px;
    padding: 30px;
}
.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

form {
    border: 4px solid #f1f1f1;
    font-family: $font-family;
  }    

.container-form {
    padding: 20px;
    background-color: #f1f1f1;
  }

input[type=text], input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    //display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
input[type=checkbox] {
    margin-top: 16px;
  }
  
.btn-primary {
    color: $white;
    background-color: $color-bg;
    border-color: $color-bg;

}