@use '../abstracts/index' as *;


//----------------------------------------general style-----------------------------------------------
.service-list {
    margin: 0 -5px;
}
@media only screen and (min-width: $break-xl) {
    .service-list .row {
        margin: 0 -50px;
    }
}
.service-list .block {
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
    background-color: $white;
}
.block {
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0 3px 35px rgb(0 0 0 / 10%);
    border-radius: 3px;
    padding: 30px;
}
.col-md-4 {
    position: relative;
    min-height: 1px;
}
.service-list h3 {
   font-size: 1.1rem; 
   font-weight: 400;
   position: relative;
   padding-bottom: 17px;
   margin: 0 0 11px;
}
.service-list h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: $color-text-primary;
}
.service-list .block:hover h3::after {
    background-color: $white;
}
.service-list p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-weight: 300;
}

@media only screen and (min-width: $break-m) {
    .visible-md {
        display: block!important;
    }
}
@media only screen and (min-width: $break-l) {
    .visible-lg {
        display: block!important;
    }
    .visible-md {
        display: none!important;
    }
}
@media only screen and (min-width: $break-xl) {
    .visible-lg {
        display: none!important;
    }
}
//-style for each of 7 menu elements and it's hover effect, colours and buttons----------------------

.software-icon {
    color: $white;
    background-color: $grayblue;
    @include main-nav-block;
}
.software:hover {
    color: $white;
    background-color: $grayblue;
}
.software:hover .software-icon, .software:hover svg, .software:hover .btn {
    color: $grayblue;
    background-color: $white;
}
.software .btn {
    background-color: $grayblue;
    color: $white;
}

.support-icon {
    color: $white;
    background-color: $blue;
    @include main-nav-block;
}
.support:hover {
    color: $white;
    background-color: $blue;
}
.support:hover .support-icon, .support:hover svg, .support:hover .btn {
    color: $blue;
    background-color: $white;
}
.support .btn {
    background-color: $blue;
    color: $white;
}

.marketing-icon {
    color: $white;
    background-color: $green;
    @include main-nav-block;
}
.marketing:hover {
    color: $white;
    background-color: $green;
}
.marketing:hover .marketing-icon, .marketing:hover svg, .marketing:hover .btn {
    color: $green;
    background-color: $white;
}
.marketing .btn {
    background-color: $green;
    color: $white;
}

.telecoms-icon {
    color: $white;
    background-color: $strawberry;
    @include main-nav-block;
}
.telecoms:hover {
    color: $white;
    background-color: $strawberry;
}
.telecoms:hover .telecoms-icon, .telecoms:hover svg, .telecoms:hover .btn {
    color: $strawberry;
    background-color: $white;
}
.telecoms .btn {
    background-color: $strawberry;
    color: $white;
}

.design-icon {
    color: $white;
    background-color: $purple;
    @include main-nav-block;
}
.design:hover {
    color: $white;
    background-color: $purple;
}
.design:hover .design-icon, .design:hover svg, .design:hover .btn {
    color: $purple;
    background-color: $white;
}
.design .btn {
    background-color: $purple;
    color: $white;
}

.security-icon {
    color: $white;
    background-color: $rasberry;
    @include main-nav-block;
}
.security:hover {
    color: $white;
    background-color: $rasberry;
}
.security:hover .security-icon, .security:hover svg, .security:hover .btn {
    color: $rasberry;
    background-color: $white;
}
.security .btn {
    background-color: $rasberry;
    color: $white;
}

.training-icon {
    color: $white;
    background-color: $strawberry;
    @include main-nav-block;
}
.training:hover {
    color: $white;
    background-color: $strawberry;
}
.training:hover .training-icon, .training:hover svg, .training:hover .btn {
    color: $strawberry;
    background-color: $white;
}
.training .btn {
    background-color: $strawberry;
    color: $white;
}
svg, svg:hover {
    text-decoration: none;
    color: inherit;
}

//---------------------------style for About section-------------------------------------

@media only screen and (min-width: $break-xs) {
    .about-section h2 {
        margin: 20px auto;
        text-align: center;
    }
}

.about-section {
    color: $white;
    background-color: $color-bg;
    letter-spacing: .4px;
    padding: 50px 25px;
    margin: 0 auto;
    h2 {
        font-size: 2.25rem;
        font-weight: 400;
        margin: 0 0 28px;
        text-transform: uppercase;
        line-height: 1.1;
    }
}
.about-section p:first-of-type {
    font-weight: 600;
}
.about-section p {
    line-height: 1.875rem;
    margin-bottom: 25px;
    font-weight: 400;
    margin: 0 0 25px;
}
.about-section .btn {
    background-color: $white;
    color: $color-bg;
    height: auto;
    font-size: 1.063rem;
    border-radius: 3px;
}
@media only screen and (min-width: $break-l) {
    .about-section {
        background-image: url(../img/branded.png) ;
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: auto 100%;
    }
}

//---------------------------style for Latest News section-------------------------------------         
.news {
    color: $white;
    box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}   
.news::after {
    content: '';
    display: block;
    background-color: $color-bg;
    margin: 10px 25px 50px;
    height: 5px;
    width: 72px;
    @media only screen and (min-width: $break-xl) {
        margin: 10px 65px 50px;
    }
} 
@media only screen and (min-width: $break-xs) {
    .news-list {
        display: block;
        margin-bottom: 50px;
    } 
}
@media only screen and (min-width: $break-m) {
    .news-list {
        display: flex;
        flex-direction: row;
    } 
    .news-list>:last-child {
        display: none;
    }
}
@media only screen and (min-width: $break-xl) {
    .news-list>:last-child {
        display: block;
    }
}

.latest {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        padding-top: 40px;
        margin: 20px 0;
        color: $color-bg;
        text-transform: uppercase;
    }
}  
.list {
    @media only screen and (min-width: $break-xs) {
        margin: -10px;
        box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
        margin-bottom: 25px;
    }
    @media only screen and (min-width: $break-m) {
        margin: 0 15px 20px;
    }
}  
.news-img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 0.25rem 0.25rem 0 0;
}        
.tag {
    position: absolute;
    right: 0;
    color: $white;
    top: 10px;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: .75rem;
}
.news-text {
    padding: 20px 30px;
    border: 1px solid lightgrey;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
    flex-grow: 1;
    h3 {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 10px 0;
        font-weight: 600;
        text-transform: capitalize;
    }
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        font-weight: 400;
        color: #666;
    }
}
.text-color-1 {
    color: $strawberry;
}
.text-color-2 {
    color: $purple;
}
// colour for buttons and tags
.btn-color-1, .color-1 {
    background-color: $strawberry;
}
.btn-color-2, .color-2 {
    background-color: $purple;
}
.btn-color-1, .btn-color-2 {
    color: $white;
}
.news-text .btn {
    margin: 20px 0;
}
.news-text .btn:hover {
    color: $white;
}
.news-text .btn-color-1:hover {
    background-color: #be3c38;
}
.news-text .btn-color-2:hover {
    background-color: #80629b;
}
.user::before {
    content: '';
    display: block;
    background-color: grey;
    margin-top: 10px;
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
}
.avatar {
    position: absolute;
}
.details {
    position: relative;
    margin-left: 70px;
    .strong {
        color: $color-text-primary;
        font-weight: 600;
    }
    span {
        font-size: .875rem;
    }
}