@use '../abstracts/index' as *;

//-------------------------------------container with 7 menu elements---------------------------------
// .container_middle {
//     margin-top: 50px;
// }
//----------------------------------------general style-----------------------------------------------
.service-list {
    margin-top: -30px;
    padding: 0 30px;
    background-color: rgb(246, 246, 246);
}
.service-list .block {
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
    background-color: $white;
}
.block {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
}
.col-md-4 {
    position: relative;
    min-height: 1px;
}
.service-list h3 {
   font-size: 1.1rem; 
   font-weight: 400;
   position: relative;
   padding-bottom: 17px;
   margin: 0 0 11px;
}
.service-list h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: $color-text-primary;
}
.service-list p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 13px;
    font-weight: 400;
}
//-style for each of 7 menu elements and it's hover effect, colours and buttons----------------------

.software-icon {
    color: $white;
    background-color: $grayblue;
    @include main-nav-block;
}
.software:hover {
    color: $white;
    background-color: $grayblue;
}
.software:hover .software-icon, .software:hover svg, .software:hover .btn {
    color: $grayblue;
    background-color: $white;
}
.software .btn {
    background-color: $grayblue;
    color: $white;
}

.support-icon {
    color: $white;
    background-color: $blue;
    @include main-nav-block;
}
.support:hover {
    color: $white;
    background-color: $blue;
}
.support:hover .support-icon, .support:hover svg, .support:hover .btn {
    color: $blue;
    background-color: $white;
}
.support .btn {
    background-color: $blue;
    color: $white;
}

.marketing-icon {
    color: $white;
    background-color: $green;
    @include main-nav-block;
}
.marketing:hover {
    color: $white;
    background-color: $green;
}
.marketing:hover .marketing-icon, .marketing:hover svg, .marketing:hover .btn {
    color: $green;
    background-color: $white;
}
.marketing .btn {
    background-color: $green;
    color: $white;
}

.telecoms-icon {
    color: $white;
    background-color: $strawberry;
    @include main-nav-block;
}
.telecoms:hover {
    color: $white;
    background-color: $strawberry;
}
.telecoms:hover .telecoms-icon, .telecoms:hover svg, .telecoms:hover .btn {
    color: $strawberry;
    background-color: $white;
}
.telecoms .btn {
    background-color: $strawberry;
    color: $white;
}

.design-icon {
    color: $white;
    background-color: $purple;
    @include main-nav-block;
}
.design:hover {
    color: $white;
    background-color: $purple;
}
.design:hover .design-icon, .design:hover svg, .design:hover .btn {
    color: $purple;
    background-color: $white;
}
.design .btn {
    background-color: $purple;
    color: $white;
}

.security-icon {
    color: $white;
    background-color: $rasberry;
    @include main-nav-block;
}
.security:hover {
    color: $white;
    background-color: $rasberry;
}
.security:hover .security-icon, .security:hover svg, .security:hover .btn {
    color: $rasberry;
    background-color: $white;
}
.security .btn {
    background-color: $rasberry;
    color: $white;
}

.training-icon {
    color: $white;
    background-color: $strawberry;
    @include main-nav-block;
}
.training:hover {
    color: $white;
    background-color: $strawberry;
}
.training:hover .training-icon, .training:hover svg, .training:hover .btn {
    color: $strawberry;
    background-color: $white;
}
.training .btn {
    background-color: $strawberry;
    color: $white;
}
svg, svg:hover {
    text-decoration: none;
    color: inherit;
}