@mixin main-nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background: #333645;
    color: #fff;
    text-transform: uppercase;
}

@mixin main-nav-item {
    text-align: center;
    align-self: center;
    width: 20px;
    height: 20px;
    margin-bottom: 17px;
    font-size: 23px;
    line-height: 60px;
}

@mixin main-nav-block {
    font-weight: 400;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 17px;
}

@mixin ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style: none;
}