//main colors
$white: #ffffff;
$grayblue: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$strawberry: #d64541;
$purple: #926fb1;
$rasberry: #f62459;

$font-family: Poppins, sans-serif;
$color-text: #666;
$color-text-primary: #333645;
$color-bg: #333645;
$color-bg-light: #d3d4d4;
$color-hover: #22242e;

//Breakpoints
$break-xs: 0px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;